title{
  background-color: #8C8C8C;
}
p{ color:#EF5B00;
  background-color: #8C8C8C;
}


a {
 color: #FF0000;
}
a:hover{
 color:#EFD300;
}
a{
  color:#00EF5B
  }
  #navigation{
    background-color: #D300EF
  }
.spanstyle{
  color:#D300EF
}
