header{
  color:#FFFFFF
}
header{
  background-color: #1DD7D4
}

a:hover {
  color: #D71D1D}

  a {
   color: #4BD71D}

   #navigation{
     background-color: #1DD7D4}

.greenbackground{
background-color:green;}



#redtext{
  color:#F41A3A
}
.yellowbackground{
  background-color:yellow;
}

.doctors{
  color:#7F3FBF;
}
h2{
  color:#3F7FBF;
}
h4{
  color:#BFBF3F;
}

.spanstyle{
  color:#BFBF3F;
}
