body {
  background-color: #671B67;
  font-family: Georgia
}

#wrapper {
  margin: 24px auto;
  width: 1200px;
  border: 1px solid black;
  padding: 24px;
  background-color: #ffffff;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 24px;}

header {
  grid-column: span 12;
  background-color: #9E31BF;
  color: white;
  font-family: Helvetica;
  font-size: 24px;
  text-transform: uppercase;
  padding-left: 24px;
  margin-bottom: 24px;
}
#OVO{
  grid-column: span 8;
}

section{
  grid-column: span 4;
}

nav{
  grid-column: span 4;
}

nav ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li{
  margin-bottom: 24px;
}

nav li a {
  display: block;
  background-color:#671B67;
  color: white;
  font-family: Helvetica;
  font-size: 24px;
  text-transform:uppercase;
  font-weight: bold;
  text-decoration: none;
  padding: 24px;
}

main{
  grid-column: span 12;
  display:grid;
  grid-template-columns: repeat(12,1fr);
  grid-column-gap: 24px;
}

section h2 {
  font-family: Helvetica;
  font-size: 34px;
  font-weight: bold;
  text-transform: uppercase;
  border-bottom: 3px solid black;
  margin-bottom: 0px;
}
footer{
  grid-column: span 12;
  background-color: #1E8074;
  font-weight: bold;
  text-align: center;
  font-style: italic;
  padding: 24px;
}
